<div style="margin-left: 10px;">
    <div style="background: #ffffff;">
        <div style="padding: 5px;">
            <div style="background: #FBEFF9;display: flex;align-items: center;">
                <div class="flex-1 d-flex">
                    <img src="../module/single/image/投屏.png" style="width: 18px"> 实时投屏
                </div>
                <div class="d-flex">
                    <div class="flex-1 d-flex"  @click.stop.prevent="allScreenPreviewImg">
                        <img src="../module/single/image/全屏.png" style="width: 18px;cursor: pointer;">
                        <el-link :underline="false" type="info" style="margin-right: 10px;" id="allScreenPreviewImg">全屏</el-link>
                    </div>
                    <div class="flex-1 d-flex" @click="startPreviewDevice(true)">
                        <img src="../module/single/image/播放.png" style="width: 18px;cursor: pointer;" >
                        <el-link :underline="false" type="info" style="margin-right: 10px;" id="loadPreviewImg">
                            开始
                        </el-link>
                    </div>
                    <div class="flex-1 d-flex" @click="stopPreviewDevice(true)">
                        <img src="../module/single/image/停止.png" style="width: 18px;cursor: pointer;" >
                        <el-link :underline="false" type="info" style="margin-right: 10px;">停止</el-link>
                    </div>
                    <div class="flex-1 d-flex"  @click.stop.prevent="selectPreviewTypeChange">
                        <img src="../module/single/image/切换.png" style="width: 18px;cursor: pointer;">
                        <el-link :underline="false" type="info" style="margin-right: 10px;">{{ selectPreviewType === 'imgInterface' ? '图像' : '布局' }}</el-link>
                    </div>
                    <el-popover
                            placement="right"
                            width="800"
                            trigger="click"
                            >
                        <div>
                            <el-row class="d-flex">
                                <el-form-item label="预览类型:" prop="textType" class="width100" style="color: whitesmoke">
                                    <el-radio-group v-model="selectPreviewType">
                                        <el-radio label="imgInterface">
                                            图像画面
                                        </el-radio>
                                        <el-radio label="layout">
                                            控件布局
                                        </el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-row>
                            <el-row class="d-flex" v-if="selectPreviewType === 'imgInterface'">
                                <el-form-item label="APP刷新:" prop="appSpace" class="flex-1">
                                    <el-input type="number" v-model="devicePreviewParam.appSpace" placeholder=""
                                              oninput="if(value.length>10)value=value.slice(0,10)" min="10" step="10"
                                              max="5000" @change="autoDevicePreview" class="width100">
                                    </el-input>
                                </el-form-item>
                                <el-form-item label="预览质量:" prop="imgQuality" class="flex-1">
                                    <el-input type="number" v-model="devicePreviewParam.imgQuality" placeholder=""
                                              oninput="if(value.length>10)value=value.slice(0,10)" min="0" max="100"
                                              @change="autoDevicePreview" class="width100">
                                    </el-input>
                                </el-form-item>
                                <el-form-item label="缩放倍数:" prop="scale" class="flex-1">
                                    <el-input type="number" v-model="devicePreviewParam.imgScale" placeholder=""
                                              oninput="if(value.length>10)value=value.slice(0,10)" min="0" step="0.1"
                                              max="1" @change="autoDevicePreview" class="width100">
                                    </el-input>
                                </el-form-item>
                            </el-row>
                            <el-row class="d-flex">
                                <el-form-item label="预览阈值:" prop="scale" class="flex-1" v-if="selectPreviewType === 'imgInterface'">
                                    <el-input type="number" v-model="devicePreviewParam.imgThreshold" placeholder=""
                                              oninput="if(value.length>10)value=value.slice(0,10)" min="0" max="255"
                                              @change="autoDevicePreview" class="width100">
                                    </el-input>
                                </el-form-item>
                                <el-form-item label="文本框序号:" prop="textIndex" class="flex-1">
                                    <el-input type="number" v-model="textIndex" placeholder=""
                                              oninput="if(value.length>10)value=value.slice(0,10)" step="1"
                                              max="5000" class="width100">
                                    </el-input>
                                </el-form-item>
                                <el-form-item label="传输类型:" prop="textType" class="flex-1">
                                    <el-radio-group v-model="textType">
                                        <el-radio label="text">
                                            覆盖
                                        </el-radio>
                                        <el-radio label="input">
                                            追加
                                        </el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-row>
                            <el-row v-if="selectPreviewType === 'imgInterface'">
                                <div style="display: inline-flex;justify-content: flex-end;align-items: center;margin-left:20px;">
                                    <span>
                                        开启adb预览(adb或root)：
                                    </span>
                                    <el-switch v-model="openAdbPreviewModel" @change="openAdbPreviewModelChange"/>
                                </div>
                                <div style="display: inline-flex;justify-content: flex-end;align-items: center;margin-left:10px;">
                                    <span>
                                        开启灵敏模式(adb或root)：
                                    </span>
                                    <el-switch v-model="devicePreviewParam.isOpenFastModel" @change="autoDevicePreview"/>
                                </div>
                                <div style="display: inline-flex;justify-content: flex-end;align-items: center;margin-left:10px;" v-show="!openAdbPreviewModel">
                                      <span>
                                        参数变化后自动预览：
                                      </span>
                                    <el-switch v-model="devicePreviewParam.valueUpdateAfterAutoPreview" />
                                </div>
                            </el-row>
                            <el-row v-show="!openAdbPreviewModel && selectPreviewType === 'imgInterface'" style="margin-top: 10px;">
                                <div style="display: inline-flex;justify-content: flex-end;align-items: center;margin-left:20px;">
                                    <span>
                                        开启灰度化：
                                    </span>
                                    <el-switch v-model="devicePreviewParam.isOpenGray" @change="autoDevicePreview"/>
                                </div>
                                <div style="display: inline-flex;justify-content: flex-end;align-items: center;margin-left:10px;">
                                      <span>
                                        开启阈值化：
                                    </span>
                                    <el-switch v-model="devicePreviewParam.isOpenThreshold" @change="autoDevicePreview"/>
                                </div>
                            </el-row>
                        </div>
                        <div class="flex-1 d-flex"  slot="reference" @click.stop.prevent="TpSzVisible = !TpSzVisible">
                            <img src="../module/single/image/设置.png" style="width: 18px;cursor: pointer;">
                            <el-link :underline="false" type="info" style="margin-right: 10px;">设置</el-link>
                        </div>
                    </el-popover>
                </div>
            </div>
        </div>
        <div class="previewDivContainer" style="height: 1080px;border:none;">
            <div style="position: sticky;top:0px;z-index: 999;">
                <div style="">
                    <div class="d-flex flex-column" style="align-items: self-end;float: right;">
                        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="reConnect">
                            重连
                        </el-button>
                        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="lockScreen">
                            锁屏
                        </el-button>
                        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="unLock">
                            亮屏
                        </el-button>
                        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('powerDialog')">
                            电源
                        </el-button>
                        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('quickSettings')">
                            通知
                        </el-button>
                        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('recents')">
                            任务
                        </el-button>
                        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('home')">
                            主页
                        </el-button>
                        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('back')">
                            返回
                        </el-button>
                        <el-popover
                                placement="right"
                                width="400"
                                trigger="manual"
                                v-model="kjVisible">
                            <div>
                                <el-form-item label="上次操作代码:" prop="textIndex" class="flex-1">
                                    <el-input type="textarea" v-model="devicePreviewParam.operateRecord" placeholder="" rows="5"
                                              class="width80">
                                    </el-input>
                                </el-form-item>
                                <el-button type="info" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="saveQuickScript">
                                    ①录制上次操作
                                </el-button>
                                <el-button type="primary" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="quick">
                                    ②运行录制代码
                                </el-button>
                            </div>
                            <el-button slot="reference" type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="kjVisible = !kjVisible">
                                录制
                            </el-button>
                        </el-popover>
                        <el-popover
                            placement="right"
                            width="400"
                            trigger="manual"
                            v-model="WbVisible">
                        <div>
                            <el-input type="textarea" v-model="textContent" placeholder="请输入文本内容" clearable  style="width: 100%;">
                            </el-input>
                            <el-form-item label="传输类型:" prop="textType" class="width100" style="color: whitesmoke">
                                <el-radio-group v-model="textType">
                                    <el-radio label="text">
                                        覆盖
                                    </el-radio>
                                    <el-radio label="input">
                                        追加
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-button type="info" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="sendTextContent">
                                发送
                            </el-button>
                        </div>
                        <el-button slot="reference" type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="WbVisible = !WbVisible">
                            文本
                        </el-button>
                    </el-popover>
                    <el-popover
                                placement="right"
                                width="800"
                                trigger="manual"
                                v-model="LbVisible">
                            <div>
                                <el-table :data="quickBtnArr"  max-height="300" height="300">
                                    <el-table-column  property="key" width="150" label="按钮名称">
                                        <template v-slot="scope1">
                                            <el-input v-model="scope1.row.btnName" placeholder="请输入按钮名称" size="mini" class="input-width" />
                                        </template>
                                    </el-table-column>
                                    <el-table-column property="name" label="脚本内容">
                                        <template v-slot="scope1">
                                            <el-input type="textarea" rows="4" v-model="scope1.row.scriptContent" placeholder="请输入要执行的脚本" size="mini" class="input-width" />
                                        </template>
                                    </el-table-column>
                                    <el-table-column >
                                        <template slot="header">
                                            <div class="d-flex a-center">
                                                <span>操作</span>
                                                <i class="el-icon-circle-plus" @click="addRow" />
                                            </div>
                                        </template>
                                        <template v-slot="scope1">
                                            <el-link :underline="false" class="cancel" type="danger" @click="delRow(scope1.$index)">删除</el-link>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <el-button size="mini" class="mt-1" type="primary" @click="saveQuickArr">更新快捷操作</el-button>
                            </div>
                            <el-button slot="reference" type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="LbVisible = !LbVisible">
                                快捷
                            </el-button>
                     </el-popover>
                        <el-button :title="btn.btnName" v-for="(btn,index) in showQuickBtnArr" :key="index" type="primary" size="mini" style="margin-left:10px;margin-bottom: 5px;width: 56px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;" @click.stop.prevent="fixedOperateQuick(btn.btnName)">
                            {{ btn.btnName }}
                        </el-button>
                    </div>
                </div>

            </div>
            <div class="width100">
                <div class="width100">
                    <div style="display: flex;">
                        <div class="d-flex j-center">
                            <div draggable="false" :style="{width:previewImageWidth+'%'}" style="min-height: 40vh;display: flex;justify-content: center;align-items: center;text-align: center;">
                                <div style="font-size: 20px;color: rgba(29,140,128,0.29)" id="devicePreviewImgParent">
                                    <img id="devicePreviewImg" draggable="false" style="width: 100%;margin: 0; padding: 0;height: 100%;max-width: 100%;"/>
                                    <div id="allScreenDiv" :style="{opacity:controlPanelOpen ? 1 : 0.3}" style="display: none;width: 250px;position: absolute;top: 0; background: #0e191a;padding: 5px;border: 1px solid whitesmoke;border-radius: 5px;">
                                        <div style="line-height: 20px;height: 20px;">
                                               <span style="float: left;color: blanchedalmond;">
                                                   控制面板
                                               </span>
                                            <span style="cursor: pointer;color:chartreuse;font-size: 18px;line-height: 20px;float: right" @click.stop="controlPanelOpenChange">
                                                    {{ controlPanelOpen ? '收起' : '展开'}}
                                                </span>
                                        </div>
                                        <div v-show="controlPanelOpen">
                                            <div style="color:wheat;font-size: 18px;">
                                                <el-form-item label="坐标:" prop="textContent" class="width100" style="color: whitesmoke">
                                                    <div style="text-align: left;width: 100%;">x:{{deviceMousePosition.x }} y:{{deviceMousePosition.y}}</div>
                                                </el-form-item>
                                            </div>
                                            <div class="width100 d-flex a-center">
                                                <el-form-item label="文本传输内容:" prop="textContent" class="width100" style="color: whitesmoke">
                                                    <el-input type="textarea" v-model="textContent" placeholder="" clearable
                                                              class="width100">
                                                    </el-input>
                                                </el-form-item>
                                            </div>
                                            <div class="width100 d-flex a-center" style="margin-top: 5px">
                                                <el-form-item label="文本框序号:" prop="textIndex" class="width100" style="color: whitesmoke">
                                                    <el-input type="number" v-model="textIndex" placeholder=""
                                                              oninput="if(value.length>10)value=value.slice(0,10)" step="1"
                                                              max="5000" class="width100">
                                                    </el-input>
                                                </el-form-item>
                                            </div>
                                            <div class="width100 d-flex a-center">
                                                <el-form-item label="传输类型:" prop="textType" class="width100" style="color: whitesmoke">
                                                    <el-radio-group v-model="textType">
                                                        <el-radio label="text">
                                                            覆盖
                                                        </el-radio>
                                                        <el-radio label="input">
                                                            追加
                                                        </el-radio>
                                                    </el-radio-group>
                                                </el-form-item>
                                            </div>
                                            <div style="justify-content: flex-end;align-items: center;text-align: center;width: 100%">
                                                <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="sendTextContent">
                                                    发送文本
                                                </el-button>
                                                <el-button type="danger" size="mini" style="margin-left:10pxmargin-bottom: 5px;" id="allScreenPreviewImg"
                                                           @click.stop.prevent="allScreenPreviewImg">
                                                    退出全屏
                                                </el-button>
                                                <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" id="loadPreviewImg"
                                                           @click.stop.prevent="startPreviewDevice(true)">
                                                    开始预览
                                                </el-button>
                                                <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="stopPreviewDevice(true)">
                                                    停止预览
                                                </el-button>
                                                <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('powerDialog')">
                                                    电源按钮
                                                </el-button>
                                                <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('recents')">
                                                    最近任务
                                                </el-button>
                                                <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('quickSettings')">
                                                    下拉通知
                                                </el-button>
                                                <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('home')">
                                                    返回主页
                                                </el-button>
                                                <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('back')">
                                                    返回按钮
                                                </el-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex a-center j-center" v-show="noPreviewImg" style="width: 100%;background: black;font-size: 30px;height: 1080px;color: white">
                            等待投屏
                        </div>
                        <canvas id="layoutPreviewCanvas"
                                style="display: none">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>