<div  style="padding:10px;">
    <span class="d-flex a-center" style="font-size: 17px;height:60px;background-color: #FFFFFF;justify-content: space-between;flex-wrap: wrap;" >
        <span class="d-flex j-center" style="text-align: left;">
            <img src="../module/single/image/连接.png" style="margin-left:20px;width: 25px">
            <span style="width: 300px;text-wrap: nowrap;">
               <span style="margin-left: 10px;color: #000000;">
                      设备UUID: {{ deviceInfo.deviceUuid ? (deviceInfo.aliasName ? '【'+deviceInfo.aliasName+'】' : '') + deviceInfo.deviceUuid : ''}}
               </span>
                <span style="margin-left: 10px;color: #000000;">
                      连接状态: {{ deviceInfo.connectStatus ? '已连接' : '未连接' }}
                </span>
                <span style="margin-left: 10px;color: #000000;">
                     调试模式: <el-switch  v-model="deviceInfo.debugModel" @change="syncWidthHeightToApp" style="margin-right: 5px;"/>
                </span>
                <span style="margin-left: 10px;color: #000000;">
                     自动投屏: <el-switch  v-model="autoStart" @change="autoStartChange" style="margin-right: 5px;"/>
                </span>
                <span style="margin-left: 10px;"  @click="refreshCaptureScreen">
                    <el-link :underline="false" type="info" style="color:blue;">刷新截图权限</el-link>
                </span>

            </span>
        </span>
    </span>
</div>