<div>
    <p class="basicInfo" style="position: relative;">
        已连接设备列表
        <i class="el-icon-refresh-right" style="cursor: pointer;font-weight: 600!important;"
           @click="getOnlineDevice">
        </i>
        <span style="margin-left:5px;cursor: pointer;" @click.stop="expandDeviceFun">{{ expandDevice ? '收缩' : '展开'}}</span>
        <span @click.stop="authorizedFun" target="_blank" style="margin-left: 2px;color: #9a2c25;cursor: pointer;">
            【设备{{authorizeStatus? '已' : '未'}}授权】
        </span>
        <span style="position: absolute;right: 10px;">
            <a href="https://www.zjh336.cn/?id=2126" target="_blank" style="margin-right: 5px;color: #2f871a">
                学习指南
            </a>
            <a href="https://sp.zjh336.cn/product/5.html" target="_blank" style="margin-right: 5px;color: #7d870d">
                打包插件下载
            </a>
            <a href="https://gitee.com/zjh336/hz_autojs_toolbox_web/releases" target="_blank"
               style="margin-right: 5px;color: #2ECC40">
                Web端下载【当前2.6.6】
            </a>
            <a href="https://gitee.com/zjh336/hz_autojs_toolbox/releases" target="_blank"
               style="color: blue;">
                APP端下载
            </a>
            <a href="https://space.bilibili.com/69729485/channel/series" target="_blank"
                   style="margin-right: 5px;color:#a59d3e;">
                视频教程
            </a>
            <a href="https://gitee.com/zjh336/hz_autojs_toolbox_web/wikis/pages" target="_blank"
               style="margin-right: 5px;color:#d14b25;">
                Web端文档
            </a>
             <a href="/docs/zh/v8/app.html" target="_blank"
                style="margin-right: 5px;color:#2f871a;">
                AutoJsPro文档
            </a>
            <a href="https://jq.qq.com/?_wv=1027&k=QGefcWIC" target="_blank" style="color: #3c663f;">
                QQ群：806074622
            </a>
        </span>
    </p>
    <el-row v-show="expandDevice">
        <div class="width100 d-flex a-center">
            <el-table :data="deviceList" v-loading="deviceLoading" border ref="deviceTable"
                      highlight-current-row @current-change="selectRowChange" style="width: 100%">
                <el-table-column prop="deviceUuid" align="left" label="设备UUID">
                    <template slot-scope="{ row, $index}">
                        {{ row.deviceUuid }}
                    </template>
                </el-table-column>
                <el-table-column prop="connectTime" label="建立连接时间" align="left">
                </el-table-column>
                <el-table-column prop="lastHeartTime" label="最后一次心跳时间" align="left">
                </el-table-column>
                <el-table-column prop="screenHeight" label="屏幕高度" align="left">
                </el-table-column>
                <el-table-column prop="screenWidth" label="屏幕宽度" align="left">
                </el-table-column>
            </el-table>
        </div>
    </el-row>
    <el-row style="margin-top: 10px;">
        <div class="width100 d-flex a-center">
            <el-form-item label="标准宽度:" prop="x1" class="width15">
                <el-input type="number" v-model="deviceInfo.standardWidth" placeholder="请设置标准宽度"
                          class="width100" @change="syncWidthHeightToApp">
                </el-input>
            </el-form-item>
            <el-form-item label="标准高度:" prop="y1" class="width15">
                <el-input type="number" v-model="deviceInfo.standardHeight" placeholder="请设置标准高度"
                          class="width100" @change="syncWidthHeightToApp">
                </el-input>
            </el-form-item>
            <el-form-item label="x偏移系数:" prop="x1" class="width15">
                <el-input type="number" v-model="deviceInfo.offsetX" placeholder="请设置x偏移系数"
                          class="width100" @change="syncWidthHeightToApp">
                </el-input>
            </el-form-item>
            <el-form-item label="y偏移系数:" prop="y1" class="width15">
                <el-input type="number" v-model="deviceInfo.offsetY" placeholder="请设置y偏移系数"
                          class="width100" @change="syncWidthHeightToApp">
                </el-input>
            </el-form-item>
            <el-form-item label="调试模式:" label-width="100px" class="width15">
                <div class="d-flex j-center a-center">
                    <el-switch v-model="deviceInfo.debugModel" @change="syncWidthHeightToApp" style="margin-right: 5px;"/>
                    <el-input type="number" v-model="deviceInfo.debugSleep" placeholder="请设置调试延时" class="flex-1"
                              @change="syncWidthHeightToApp">
                    </el-input>
                </div>
            </el-form-item>
           <el-form-item label="编辑器类型:" label-width="120px" class="width15">
               <el-tooltip class="item" effect="dark"  content="请注意,修改编辑类型后,必须要刷新页面才能生效!" placement="top-start">
                   <div class="d-flex j-center a-center" style="height: 40px;white-space: nowrap;">
                       <el-radio-group v-model="editorType" @change="editorTypeChange">
                               <el-radio label="vscode">
                                   vscode
                               </el-radio>
                               <el-radio label="ace">
                                   ace
                               </el-radio>
                       </el-radio-group>
                       <i v-if="editorTypeNeedRefresh" class="el-icon-refresh-right" @click.stop="refreshPage" style="margin-left: 5px"/>
                   </div>
               </el-tooltip>
            </el-form-item>
            <div class="width10 d-flex a-center" style="justify-content: right;margin-bottom:15px;">
                <el-button @click.stop="syncWidthHeightToApp">
                    同步到APP
                </el-button>
            </div>
        </div>
    </el-row>
</div>