<div class="container">
    <div v-if="pageAccessLimit" style="display:flex;justify-content: center;align-items: center;font-size: 50px;height: 50vh;">
        当前没有访问权限,请输入页面访问密码！！！
    </div>
    <el-form ref="commodityInfo" v-if="!pageAccessLimit" class="commodity mt-10 width100" label-width="100px">
        <!-- 设备信息组件 -->
        <device-info ref="deviceInfo" @deviceSelectRowCallback="deviceSelectRowCallback"/>
        <el-tabs tab-position="left" style="height: auto;margin-top:5px;" v-model="activeTab">
            <el-tab-pane label="公共文件" name="commonFile">
                <!-- 公共文件组件  -->
                <common-file :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="commonFile" />
            </el-tab-pane>
            <el-tab-pane label="图像处理" name="imgHandler">
                <!-- 图像处理组件 -->
                <img-handler :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="imgHandler" />
            </el-tab-pane>
            <el-tab-pane label="布局分析" name="layoutAnalysis">
                <!-- 布局分析组件 -->
                <layout-analysis :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="layoutAnalysis" />
            </el-tab-pane>
            <el-tab-pane label="远程脚本" name="remoteScript">
                <!-- 远程脚本组件 -->
                <remote-script :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="remoteScript" />
            </el-tab-pane>
            <el-tab-pane label="预览设备" name="previewDevice">
                <!-- 预览设备组件 -->
                <preview-device :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="previewDevice" />
            </el-tab-pane>
            <el-tab-pane label="远程日志" name="remoteLog">
                <!-- 远程日志组件 -->
                <remote-log :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="remoteLog" />
            </el-tab-pane>
            <el-tab-pane label="文件管理" name="fileManage">
                <!-- 文件管理组件  -->
                <file-manage :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="fileManage" />
            </el-tab-pane>
            <el-tab-pane label="页面匹配" name="pageMatching">
                <!-- 页面匹配组件 -->
                <page-matching :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="pageMatching" />
            </el-tab-pane>
            <el-tab-pane label="定时任务" name="taskManage">
                建设中！！！！
            </el-tab-pane>
        </el-tabs>
        <el-button v-show="fileDialogIsMin" type="danger" @click.stop.native="phoneMaxFileEditorDialog" style="position: fixed;right: 10px;bottom: 10px;z-index: 999999;">还原文件编辑器</el-button>
        <i class="el-icon-caret-top" style="cursor:pointer; font-size: 40px;position: fixed;left: 10px;bottom: 8px;z-index: 999999;" @click.stop="bodyScrollTop"></i>
        <i class="el-icon-caret-bottom" style="cursor:pointer;font-size: 40px;position: fixed;left: 40px;bottom: 10px;z-index: 999999;" @click.stop="bodyScrollBottom"></i>
    </el-form>
</div>