<div class="container" style="height:100%;padding: 0;">
    <div v-if="pageAccessLimit" style="display:flex;justify-content: center;align-items: center;font-size: 50px;height: 50vh;">
        当前没有访问权限,请输入页面访问密码！！！
    </div>

    <el-form ref="commodityInfo" v-if="!pageAccessLimit" class="commodity mt-10 width100" label-width="100px" style="height:100%">
        <!-- 设备信息组件 -->
        <device-info ref="deviceInfo" @deviceSelectRowCallback="deviceSelectRowCallback"/>
        <!--新增一个层-->
        <div style="
        background: hsla(0, 5%, 80%, 0.345);

         padding: 20px;
        ">
            <el-tabs tab-position="left"
                     style="
        margin: auto;
        background-color: #FFFFFF;
        border-radius: 16px;
        padding: 30px 0px;
        min-height: 600px;
        " v-model="activeTab"
            >
                <el-tab-pane label="文件管理" name="fileManage">
                    <!-- 文件管理组件  -->
                    <file-manage :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="fileManage" />
                </el-tab-pane>
                <el-tab-pane label="公共文件" name="commonFile" class="fontsize17">
                    <!-- 公共文件组件  -->
                    <common-file :deviceInfo="deviceInfo" :screenDirection="screenDirection"  ref="commonFile" />
                </el-tab-pane>
                <el-tab-pane label="预览设备" name="previewDevice">
                    <!-- 预览设备组件 -->
                    <preview-device :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="previewDevice" />
                </el-tab-pane>
                <el-tab-pane label="图像处理" name="imgHandler">
                    <!-- 图像处理组件 -->
                    <img-handler :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="imgHandler" />
                </el-tab-pane>
                <el-tab-pane label="布局分析" name="layoutAnalysis">
                    <!-- 布局分析组件 -->
                    <layout-analysis :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="layoutAnalysis" />
                </el-tab-pane>
                <el-tab-pane label="远程脚本" name="remoteScript">
                    <!-- 远程脚本组件 -->
                    <remote-script :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="remoteScript" />
                </el-tab-pane>
                <el-tab-pane label="远程日志" name="remoteLog">
                    <!-- 远程日志组件 -->
                    <remote-log :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="remoteLog" />
                </el-tab-pane>
                <el-tab-pane label="页面匹配" name="pageMatching">
                    <!-- 页面匹配组件 -->
                    <page-matching :deviceInfo="deviceInfo" :screenDirection="screenDirection" ref="pageMatching" />
                </el-tab-pane>
                <!--<el-tab-pane label="定时任务" name="taskManage">
                    建设中！！！！
                </el-tab-pane>-->
            </el-tabs>
        </div>
        <el-button v-show="fileDialogIsMin" type="danger" @click.stop.native="phoneMaxFileEditorDialog" style="position: fixed;right: 10px;bottom: 10px;z-index: 999999;">还原文件编辑器</el-button>
        <!-- <i class="el-icon-caret-top" style="cursor:pointer; font-size: 40px;position: fixed;left: 10px;bottom: 8px;z-index: 999999;" @click.stop="bodyScrollTop"></i>
         <i class="el-icon-caret-bottom" style="cursor:pointer;font-size: 40px;position: fixed;left: 40px;bottom: 10px;z-index: 999999;" @click.stop="bodyScrollBottom"></i>--->
    </el-form>


    <div v-if="openLogWindow"
         id="windowLogBox"
         :style="{'height':showWindowLog ? cacheLogWindowHeight + 'px' : '33px','background': darkTheme ? '#000000' : '#ffffff'}"
         style="width: 600px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    color:green;
    position: fixed;
    resize: both;
    overflow: hidden;
    top: 5px;
    left: 5px;
    z-index: 99999999999999999999;">
        <div style="cursor: all-scroll;width:100%;display:inline-flex;font-size: 17px;border-bottom: 1px solid #6d6161;background: #49493e;padding-top: 4px;" id="windowLogBoxTool">
            <span style="padding: 0px 0px 3px 8px;color: #FFFFFF">实时日志</span>
            <span>
                <i title="刷新日志" class="el-icon-refresh" style="cursor: pointer;margin-left: 5px;color:white;"  @click.stop="refreshShowWindowLog"></i>
                <i title="切换背景色" :class="{'el-icon-moon' : darkTheme, ' el-icon-sunny':!darkTheme}" style="cursor: pointer;color:white;" @click.stop="changeDarkTheme"></i>
                <i title="禁止滚动" class="el-icon-aim" :style="{'color':fixedLogPosition ? '#9a9ad3' : 'white'}" style="cursor: pointer;color:white;" @click.stop="changeFixedLogPosition"></i>
                <i title="展开收缩" :class="{'el-icon-caret-top' : !showWindowLog, 'el-icon-caret-bottom':showWindowLog}" style="cursor: pointer;color:white;" @click.stop="changeShowWindowLog"></i>
            </span>
            <div class="flex-1" style="text-align: right;">
                <i title="清除日志" class="el-icon-delete" style="cursor: pointer;margin-right: 5px;color:white;"  @click.stop="clearShowWindowLog"></i>
                <i title="关闭日志" class="el-icon-close" style="cursor: pointer;margin-right: 5px;color:white;"  @click.stop="closeShowWindowLog"></i>
            </div>
        </div>
        <div v-html="windowLogContent" style="height: calc(100% - 35px);overflow-y: scroll;" id="windowLogDiv">
        </div>
    </div>


    <div v-if="openScreenWindow" :key="randomKey+'_screen_tool'" id="floatWindowToolBar" class="d-flex flex-column" style="position: fixed;top:5px;right:410px;align-items: self-end;z-index: 99999999999999999999;"">
        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="reConnect">
            重连
        </el-button>
        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="unLock">
            解锁
        </el-button>
        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="quick">
            快捷
        </el-button>
        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('powerDialog')">
            电源
        </el-button>
        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('quickSettings')">
            通知
        </el-button>
        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('recents')">
            任务
        </el-button>
        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('home')">
            主页
        </el-button>
        <el-button type="danger" size="mini" style="margin-left:10px;margin-bottom: 5px;" @click.stop.prevent="fixedOperate('back')">
            返回
        </el-button>
    </div>
    <div v-if="openScreenWindow"
         id="windowScreenBox"
         :key="randomKey+'_screen'"
         :style="{'height': defaultWindowHeight,'width':defaultWindowWidth}"
         style="box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    background: #000000;
    color:green;
    position: fixed;
    resize: both;
    overflow: hidden;
    top: 5px;
    right: 5px;
    z-index: 99999999999999999999;">
        <div style="cursor: all-scroll;width:100%;display:inline-flex;font-size: 17px;border-bottom: 1px solid #6d6161;background: #49493e;" id="windowScreenBoxTool">
            <span style="padding: 0px 0px 3px 8px;color: #FFFFFF">预览屏幕</span>
            <span style="margin-left: 5px;">{{ deviceMousePosition.x+','+deviceMousePosition.y }}</span>
            <div class="flex-1" style="text-align: right;"><i class="el-icon-close" style="cursor: pointer;color:white;" @click.stop="changeScreenWindowFun(false)"></i></div>
        </div>
        <div style="height: calc(100% - 25px);overflow-y: hidden;" id="windowScreenDiv">
            <span></span>
        </div>
    </div>


</div>