<div>
    <p class="basicInfo">
        远程脚本执行
    </p>
    <el-row>
        <el-col :span="isActive ? 24 : 16">
            <div class="imgDivContainer">
                <div style="background: white;height: 120px;width: calc(65% - 15px);top:1px;position:absolute;z-index: 999;"></div>
                <div style="position: sticky;top:0px;z-index: 999;">
                    <el-row class="width100 d-flex a-center flex-wrap" style="margin-bottom: -8px;">
                        <el-form-item label="脚本名称:"  class="width50" label-width="75px" >
                            <el-input v-model="remoteHandler.param4.scriptName" placeholder="请输入脚本名称" class="width100"/>
                        </el-form-item>
                        <el-form-item label="一键执行:" class="width15" label-width="85px">
                            <el-switch v-model="remoteHandler.param4.scriptImmediatelyExec"/>
                        </el-form-item>
                        <el-form-item label="独立引擎:" class="width15" label-width="85px">
                            <el-switch v-model="remoteHandler.param4.isIndependentScript"/>
                        </el-form-item>
                        <el-form-item label="Node脚本:" class="width15" label-width="85px">
                            <el-switch v-model="remoteHandler.param4.isNodeScript"/>
                        </el-form-item>

                        <span v-popover:popover1 class="link-black" style="display: flex; font-size: 21px; margin-left: 10px; margin-bottom:15px; cursor: pointer">
                          <i class="el-icon-question" />
                        </span>
                        <el-popover ref="popover1" placement="top-start" width="500" trigger="hover">
                            <div>
                                <b>一键执行:</b>
                                <span>点击右侧模块,加载模块脚本内容,并直接执行加载的代码。</span>
                            </div>
                            <div style="margin-top: 10px;">
                                <b>独立引擎:</b>
                                <span>开启后,启动独立rhino引擎,来运行当前的脚本。测试死循环代码,建议使用独立引擎,停止脚本能够正常使用。非独立引擎,依赖于工具箱,可使用utils.js封装函数。</span>
                            </div>
                            <div style="margin-top: 10px;">
                                <b>Node脚本:</b>
                                <span>编写node脚本,必须开启此开关,打开后,启动独立的Node引擎来运行脚本。</span>
                            </div>
                            <div style="margin-top: 10px;">
                                <b>自定义模块设置:</b>
                                <span>右侧除了常用模块、内置模块，还可以自己封装模块。编写自己的脚本后,存为文件,例如remoteScript.js文件。创建自定义模块,编码自行填写,名称为system/remoteScript/remoteScript.js,固定前缀加上对应文件名。</span>
                            </div>
                        </el-popover>
                    </el-row>
                    <div class="imgToolsDiv">
                        <div class="d-flex width100">
                            <div style="display: inline-flex;justify-content: flex-start;align-items: center;flex:1;padding-left: 10px;">
                                <el-button type="danger" size="mini" id="remoteRunScript"
                                           @click.stop.prevent="remoteExecuteScriptFun(remoteHandler.param4.scriptText)">
                                    运行脚本
                                </el-button>
                                <el-button type="primary" size="mini" style="margin-left: 10px !important;"
                                           @click.stop.prevent="clearScript">
                                    清空脚本
                                </el-button>
                                <el-button type="danger" size="mini" style="margin-left: 10px !important;"
                                           @click.stop.prevent="stopScript">
                                    停止脚本
                                </el-button>
                                <el-button type="primary" size="mini" style="margin-left: 10px !important;"
                                           @click.stop.prevent="customScriptSetting">
                                    自定义模块设置
                                </el-button>
                                <el-button type="primary" size="mini" style="margin-left: 10px !important;"
                                           @click.stop.prevent="initCustomScript">
                                    加载自定义模块
                                </el-button>
                            </div>
                            <div style="display: inline-flex;justify-content: flex-end;align-items: center;flex:1;padding-right: 10px;">
                                <el-button type="primary" size="mini" style="margin-left: 10px !important;"
                                           @click.stop.prevent="saveToDraft">
                                    存为草稿
                                </el-button>
                                <el-button type="primary" size="mini" style="margin-left: 10px !important;"
                                           @click.stop.prevent="readForDraft">
                                    从草稿读取
                                </el-button>
                                <el-button type="primary" size="mini" style="margin-left: 10px !important;"
                                           @click.stop.prevent="saveToFile">
                                    存为文件
                                </el-button>
                                <el-button type="primary" size="mini" style="margin-left: 10px !important;"
                                           @click.stop.prevent="readForFile">
                                    从文件读取
                                </el-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="width100" style="margin-top: 15px;">
                    <div class="d-flex j-center width100">
                        <el-input v-show="false" v-model="remoteHandler.param4.scriptText" :rows="20" type="textarea"
                                  placeholder="请输入脚本内容" class="width100" />
                        <div id="scriptTextEditor" style="width: 100%;height: 80vh;"></div>
                    </div>
                </div>
            </div>
            <div class="hamburger" @click.stop="isActive=!isActive">
                <i class="el-icon-arrow-right" :class="{'rotate': isActive}" />
            </div>
        </el-col>
        <el-col :span="isActive ? 0 : 8">
            <div class="imgDivContainer" style="margin-left: 10px;">
                <el-tabs v-model="activeName" @tab-click="handleClick" class="fontSize16" tab-position="left">
                    <el-tab-pane label="App模块" name="app">
                        <el-button v-for="(btn,index) in remoteScriptApp" :key="index" type="danger" class="grayButton" style="margin:10px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">
                            {{btn.name}}
                        </el-button>
                    </el-tab-pane>
                    <el-tab-pane label="Device模块" name="device">
                        <el-button v-for="(btn,index) in remoteScriptDevice" :key="index" type="danger" class="grayButton" style="margin:10px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">
                            {{btn.name}}
                        </el-button>
                    </el-tab-pane>
                    <el-tab-pane label="Keys模块" name="keys">
                        <el-button v-for="(btn,index) in remoteScriptKeys" :key="index" type="danger" class="grayButton" style="margin:10px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">
                            {{btn.name}}
                        </el-button>
                    </el-tab-pane>
                    <el-tab-pane label="Operate模块" name="operate">
                        <el-button v-for="(btn,index) in remoteScriptOperate" :key="index" type="danger" class="grayButton" style="margin:10px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">
                            {{btn.name}}
                        </el-button>
                    </el-tab-pane>
                    <el-tab-pane label="Task模块" name="task">
                        <el-button v-for="(btn,index) in remoteScriptTask" :key="index" type="danger" class="grayButton" style="margin:10px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">
                            {{btn.name}}
                        </el-button>
                    </el-tab-pane>
                    <el-tab-pane label="Other模块" name="other">
                        <el-button v-for="(btn,index) in remoteScriptOther" :key="index" type="danger" class="grayButton" style="margin:10px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">
                            {{btn.name}}
                        </el-button>
                    </el-tab-pane>
                    <el-tab-pane label="内置模块" name="remote">
                        <el-button v-for="(btn,index) in remoteScriptInternal" :key="index" type="danger" class="grayButton" style="margin:10px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">
                            {{btn.name}}
                        </el-button>
                    </el-tab-pane>
                    <el-tab-pane label="自定义模块" name="custom">
                        <el-button v-for="(btn,index) in customScript" :key="index" type="danger" class="grayButton" style="margin:10px" size="mini" @click.stop.prevent="getCustomRemoteScript(btn.scriptName)">
                            {{btn.moduleName}}
                        </el-button>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </el-col>

    </el-row>
<!--  <div class="width100 d-flex a-center" style="justify-content: space-between;">

        </div> -->
<!--    <el-row>-->
<!--        <el-form-item label="App模块" class="width100">-->
<!--            <el-button v-for="(btn,index) in remoteScriptApp" :key="index" type="danger" style="margin-left:5px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">-->
<!--                {{btn.name}}-->
<!--            </el-button>-->
<!--        </el-form-item>-->
<!--    </el-row>-->
<!--    <el-row style="margin-top: 10px">-->
<!--        <el-form-item label="Device模块" class="width100">-->
<!--            <el-button v-for="(btn,index) in remoteScriptDevice" :key="index" type="danger" style="margin-left:5px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">-->
<!--                {{btn.name}}-->
<!--            </el-button>-->
<!--        </el-form-item>-->
<!--    </el-row>-->
<!--    <el-row style="margin-top: 10px">-->
<!--        <el-form-item label="Keys模块" class="width100">-->
<!--            <el-button v-for="(btn,index) in remoteScriptKeys" :key="index" type="danger" style="margin-left:5px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">-->
<!--                {{btn.name}}-->
<!--            </el-button>-->
<!--        </el-form-item>-->
<!--    </el-row>-->
<!--    <el-row style="margin-top: 10px">-->
<!--        <el-form-item label="Operate模块" class="width100">-->
<!--            <el-button v-for="(btn,index) in remoteScriptOperate" :key="index" type="danger" style="margin-left:5px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">-->
<!--                {{btn.name}}-->
<!--            </el-button>-->
<!--        </el-form-item>-->
<!--    </el-row>-->
<!--    <el-row style="margin-top: 10px">-->
<!--        <el-form-item label="Task模块" class="width100">-->
<!--            <el-button v-for="(btn,index) in remoteScriptTask" :key="index" type="danger" style="margin-left:5px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">-->
<!--                {{btn.name}}-->
<!--            </el-button>-->
<!--        </el-form-item>-->
<!--    </el-row>-->
<!--    <el-row style="margin-top: 10px">-->
<!--        <el-form-item label="Other模块" class="width100">-->
<!--            <el-button v-for="(btn,index) in remoteScriptOther" :key="index" type="danger" style="margin-left:5px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">-->
<!--                {{btn.name}}-->
<!--            </el-button>-->
<!--        </el-form-item>-->
<!--    </el-row>-->
<!--    <el-row style="margin-top: 10px">-->
<!--        <el-form-item label="内置模块" class="width100">-->
<!--            <el-button v-for="(btn,index) in remoteScriptInternal" :key="index" type="danger" style="margin-left:5px" size="mini" @click.stop.prevent="getRemoteScript(btn.code)">-->
<!--                {{btn.name}}-->
<!--            </el-button>-->
<!--        </el-form-item>-->
<!--    </el-row>-->
<!--    <el-row style="margin-top: 10px">-->
<!--        <el-form-item label="自定义模块" class="width100">-->
<!--            <el-button v-for="(btn,index) in customScript" :key="index" type="danger" style="margin-left:5px" size="mini" @click.stop.prevent="getCustomRemoteScript(btn.scriptName)">-->
<!--                {{btn.moduleName}}-->
<!--            </el-button>-->
<!--        </el-form-item>-->
<!--    </el-row>-->
    <el-popover
            popper-class="indexPopper"
            ref="customScriptSettingPopover"
            placement="right"
            trigger="click"
    >
        <div style="margin-bottom: 12px;text-align: center;">自定义模块设置</div>
        <el-table :data="tempCustomScript"  max-height="300" height="300">
            <el-table-column  property="key" label="模块名称">
                <template v-slot="scope1">
                    <el-input v-model="scope1.row.moduleName" placeholder="请输入模块名称" size="mini" class="input-width" />
                </template>
            </el-table-column>
            <el-table-column property="name" label="脚本路径和名称">
                <template v-slot="scope1">
                    <el-input v-model="scope1.row.scriptName" placeholder="请输入脚本路径和名称" size="mini" class="input-width" />
                </template>
            </el-table-column>
            <el-table-column >
                <template slot="header">
                    <div class="d-flex a-center">
                        <span>操作</span>
                        <i class="el-icon-circle-plus" @click="addRow" />
                    </div>
                </template>
                <template v-slot="scope1">
                    <el-link :underline="false" class="cancel" type="danger" @click="delRow(scope1.$index)">删除</el-link>
                </template>
            </el-table-column>
        </el-table>
        <div class="d-flex j-center">
            <el-button class="mt-1" type="primary" @click="saveCustomScriptSetting">保存</el-button>
            <el-button class="mt-1" type="info" @click="cancelCustomScriptSetting">取消</el-button>
        </div>
    </el-popover>
</div>