<div @drop.prevent="onDrop" @dragover.prevent="onDragover" @dragenter.prevent>
    <p class="basicInfo" style="position: relative;">
        定时任务
    </p>
    <div style="padding-left: 20px;margin-top: 0!important;">
        <el-row style="padding-left: 0!important;">
            <div class="d-flex j-sb a-center width100">
                <div class="d-flex a-center">
                    <el-button size="mini" type="primary" @click="createTask">创建</el-button>
                    <el-button size="mini" style="margin-left: 5px;"  type="primary" @click="queryTasks">查询</el-button>
                </div>
            </div>
        </el-row>
        <el-row style="padding-left: 0!important;">
            <div class="fileTableList" v-loading="fileLoading">
                <el-scrollbar class="right-scrollbar-wrap">

                </el-scrollbar>
            </div>
        </el-row>
        <!--
            创建弹层
            定时任务名称
            脚本路径
            定时任务类型
            定时任务状态
            定时任务参数：间隔、意图等
        -->
    </div>
</div>