.fileList-head{
    height: 34px;
    background-color: #F6F6F6;
    color: #364760;
    padding-left: 8px;
    font-size: 14px;
}
.fileList-head .caret-wrapper{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
}
.fileDivContainer{
    border: 1px solid #dbd2d2;
    padding: 5px;
    border-radius: 5px;
    height: 1500px;
    overflow-y: scroll;
}

.fileDivContainer::-webkit-scrollbar {
    width: 4px;
}
.fileDivContainer::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}
.fileDivContainer:hover::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 53%, 0.4);
}
.fileDivContainer::-webkit-scrollbar-track {
    background: hsla(0, 0%, 53%, 0.1);
}


.breadcrumbWrap .hoverBreadcrumb .el-breadcrumb__inner:hover{
     color: #4BABF6 !important;
}
.breadcrumbWrap .hoverBreadcrumb .endBreadcrumb .el-breadcrumb__inner{
    color: #97a1af !important;
    cursor: pointer !important;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner{
    cursor: pointer !important;
}
.fileTips{
    cursor: pointer;
}

.fileList-head .fileName {
}
.fileList-head .phoneFileName{
}
.fileList-head .fileName .text-fileName{
    display: inline-block;
    flex: 1;
    -webkit-box-flex: 1;
}
.fileList-head .fileName .fileNameWrap{
    margin-left: 5px;
}
.fileList-head .fileName .fileNameWrap:hover{
    color: #4BABF6 !important;
}

.fileList-head .phoneFileName .fileNameWrap{
    margin-left: 5px;
}
.fileList-head .phoneFileName .fileNameWrap:hover{
    color: #4BABF6 !important;
}

.fileOperate{
    height: 34px;
    background-color: #edf6fe;
    border: 1px solid #dcedfd;
    font-size: 14px;
    margin-bottom: 10px;
}

.fileList-head .lastUpdateTime {
}
.fileList-head .fileSize{
}
.fileList-head .operate {
    text-align: center;
}

.fileList-head .phoneOperate {
    text-align: center;
}

.fileList-head .el-progress {
    position: absolute;
    bottom: -3px;
    width: 100%;
    left: 0;
}
.fileList-head .el-progress .el-progress__text{
    position: absolute;
    top: -20px;
}
.fileList-head .el-progress .el-progress-bar{
    padding-right: 0 !important;
}

.fileList-body{
    position: relative;
    height: auto !important;
    min-height: 48px;
}

.fileList-body:nth-child(2n - 1) {
    background-color: #FFFFFF;
}

.fileList-body:hover{
    background-color: #eaecef !important;
    color: #364760 !important;
}

.fileEditorDialog{
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
}

.fileNameArr{
    display: flex;
    /*border: 1px solid #cfbfbf;*/
    height: 18px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 2px;
    padding: 4px 0;
    /*overflow-x: scroll;
    overflow-y: hidden;*/
    white-space: nowrap;
}
.fileNameArr .fileNameItem{
    border: 1px solid #d9c5c1;
    margin-left: 5px;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
}

.fileNameArr .fileNameSelectItem{
   border: 1px solid #5c6bcd !important;
}

.customFilePicker.el-input--prefix .el-input__inner {
    padding-left: 30px !important;
}